
p {
    margin: 10px;
    color:cadetblue;
}

h1 {
    margin: 20px;
    color: #005599;
}
h2 {
    margin: 20px;
    align-content: flex-start;
}

.textoGrandeOscuro{
    font-size:30px;
    color: #008aaa;
    position: absolute;
    margin-left: 20px;
    height: 100px;
}
.textoGrandeClaro{
    font-size:30px;
    color: #00caf2;
}